/* Set styles for form container */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Set styles for form labels */
label {
  display: inline-block;
  width: 80px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Set styles for form inputs and textarea */
input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Set styles for file input */
input[type="file"] {
  margin-top: 10px;
}

/* Set styles for form button */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}








/*.form-container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
/**/
/*form {*/
/*  background-color: #fff;*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
/*  border-radius: 5px;*/
/*  padding: 20px;*/
/*  width: 400px;*/
/*}*/
/**/
/*label {*/
/*  display: block;*/
/*  font-weight: bold;*/
/*  margin-bottom: 5px;*/
/*}*/
/**/
/*input[type="text"], textarea {*/
/*  width: 100%;*/
/*  padding: 10px;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 4px;*/
/*  margin-bottom: 10px;*/
/*}*/
/**/
/*button[type="submit"] {*/
/*  background-color: #1DA1F2;*/
/*  color: #fff;*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  padding: 10px;*/
/*  cursor: pointer;*/
/*  transition: background-color 0.3s ease;*/
/*}*/
/**/
/*button[type="submit"]:hover {*/
/*  background-color: #0E71A8;*/
/*}*/
/**/
