.post {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.replies {
  margin-top: 1rem;
}
/* ... existing styles ... */

.post-image {
  max-width: 100%;
  height: auto;
}
/* Add this to your post.component.css */
.reply-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.reply-form input,
.reply-form textarea {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
}

.reply-form textarea {
  min-height: 100px;
}

.reply-form button {
  align-self: flex-start;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.reply-form button:hover {
  background-color: #0056b3;
}

/*.delete-button {*/
/*  position: absolute;*/
/*  top: 5px;*/
/*  left: 5px;*/
/*  background-color: red;*/
/*  color: white;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  font-size: 12px;*/
/*  padding: 2px 5px;*/
/*  border-radius: 3px;*/
/*}*/
